* {
  margin: 0px;
  padding: 0px;
  font-family: "Open Sans", sans-serif;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  align-items: center;
}
ul li a {
  text-decoration: none;
}
div section img {
  display: block;
  width: 100%;
}
.flex-container {
  display: flex;
}

header {
  background-color: #122a57;
  height: 100px;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  padding-inline: 60px;
}

header .list-items {
  display: flex;
  max-width: 260px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.list-items li a {
  color: #fff;
}
.item {
  margin-inline: 10px;
  white-space: nowrap;
}
header .menu {
  justify-content: space-between;
}
.presentation {
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.intro-text {
  color: #122a57;
  font-size: 18px;
  margin-bottom: 10px;
  min-height: 200px;
  justify-content: center;
}
.intro-text > img {
  width: 500px;
}
.btn {
  background-color: #122a57;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  width: 220px;
  display: block;
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
#about-us {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding: 15px;
}
#about-us > div {
  max-width: 500px;
}
#about-us h2 {
  font-size: 32px;
  color: #122a57;
  display: flex;
  margin-bottom: 20px;
}
#about-us h2::before {
  content: "";
  height: 50px;
  width: 5px;
  margin-right: 5px;
  background-color: #122a57;
  position: relative;
}
#about-us p {
  margin-bottom: 10px;
}
#about-us img {
  width: 500px;
}
.services-section {
  background-color: #122a57;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-block: 15px;
  gap: 25px;
}

#services {
  flex-direction: column;
  padding-top: 50px;
  padding-bottom: 100px;
}
#services > h2 {
  color: #fff;
  font-size: 32px;
}
.list-of-services {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-evenly;
}
.list-of-services .item-services {
  text-align: center;
}
.item-services a {
  width: 220px;
  background-color: #fff;
  border-radius: 30px;
  height: 50px;
  text-align: center;
  margin-top: 20px;
  line-height: 50px;
  padding: 5px 10px;
  text-decoration: none;
  color: #122a57;
  font-size: 12px;
  font-weight: 700;
}
.item-services p {
  font-weight: 700;
  font-size: 18px;
  color: #fff;
  margin-top: 20px;
}
.item-services img {
  width: 80%;
  margin: auto;
}
#plans {
  flex-direction: column;
  padding-top: 50px;
  display: flex;
  padding-bottom: 50px;
}
#plans h2 {
  font-size: 32px;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.list-plans {
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
}
.plans-item {
  flex: 1;
  border: 2px solid #122a57;
  margin-right: 20px;
  align-content: center;
  padding: 10px;
  max-width: 240px;
}
.plans-item .btn {
  margin: auto;
  margin-bottom: 20px;
}
.plans-item h3 {
  font-size: 24px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 20px;
}
.plans-item h3::after {
  content: "";
  background-color: #122a57;
  width: 100%;
  height: 3px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.plans-item ul {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10px;
}
.plans-item ul li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.plans-item ul li::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: #122a57;
  margin-right: 5px;
}
footer {
  background-color: #122a57;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .footer {
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}
@media (max-width: 992px) {
  .header {
    width: 100%;
  }
  .flex-container {
    flex-direction: column;
    align-items: center;
  }
  #about-us img {
    min-width: 320px;
  }
  #about-us h2 {
    align-items: center;
    justify-content: center;
    padding: 5px;
  }
  .intro-text {
    width: 100%;
    padding-top: 15px;
  }
  #about-us {
    flex-direction: column-reverse;
    padding: 15px 20px;
    align-items: center;
    margin-bottom: 5px;
  }
  #services {
    align-items: center;
    flex-direction: column;
  }
  .list-of-services {
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
  .item-services img {
    width: 40%;
    margin: auto;
  }
  .list-plans {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px 20px;
    justify-content: space-around;
    width: 50%;
  }
  .list-plans .plans-item {
    max-width: 90%;
    margin: auto;
    width: 100%;
    margin-bottom: 20px;
  }
  .menu {
    display: flex;
    align-items: center;
    padding: 5px;
  }
  .list-items {
    align-items: center;
    justify-content: space-around;
    padding: 8px;
  }
  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #plans .h2 {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 20px 10px;
    margin: auto;
  }
  .text {
    text-align: center;
    align-items: center;
    padding: 5px;
  }
  .plans-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
